/* style.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red !important; */
}

header {
  background-color: #1F2937;
  padding: 1rem;
}

/* content for header */
.header-container {
  max-width: 65rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.header-links {
  display: flex;
  gap: 1rem;
}

ul {
  list-style: none;
}

a {
  color: #F9FAF8;
  text-decoration: none;
}

