/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red !important; */
}

body {
  font-family: "Almarai", sans-serif
}

header {
  background-color: #1F2937;
  padding: 1rem;
}

/* content for header */
.header-container {
  max-width: 65rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 1rem;
}

ul {
  list-style: none;
}

a {
  color: #F9FAF8;
  text-decoration: none;
  transition: color .1s ease-in-out;
}
a:hover {
  color: hsl(186, 79%, 65%);
}

