/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

:root {
  --container-width: 65rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Almarai", sans-serif
}

header, .hero {
  background-color: #1F2937;
  padding: 1rem;
}

/* header content */
.header-container {
  max-width: var(--container-width);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 1rem;
}

ul {
  list-style: none;
}

a {
  color: #F9FAF8;
  text-decoration: none;
  transition: color .1s ease-in-out;
}
a:hover {
  color: hsl(186, 79%, 65%);
}

/* hero content */
.hero-container {
  max-width: var(--container-width);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding-block: 5rem;
}

h1 {
  color: #F9FAF8;
  font-size: 3rem;
  margin-bottom: .5rem;
}

.hero-text p {
  color: #E5E7EB;
  font-size: 18px;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.hero-text, .hero-img {
  flex: 1;
}

.hero-img {
  min-width: 520px;
}

.hero-btn {
  font-size: 24px;
  color: #F9FAF8;
  background-color: #3882F6;
  border: transparent;
  padding: .5em 1em;
  border-radius: .5rem;
  transition: background-color .1s ease-in-out;
}
.hero-btn:hover {
  cursor: pointer;
  background-color: #498efc;
}

.information {
  text-align: center;
}

/* information content */
.info-container {
  max-width: var(--container-width);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 5rem;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding-block: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  max-width: 250px;
}

.card p {
  font-size: 18px;
  line-height: 1.5rem;
  margin-top: 1rem;
}

.card-img {
  border: 4px solid #3882F6;
  border-radius: 1.2rem;
}

.quote {
  background-color: #E5E7EB;
  padding-block: 5rem;
  background-image: url(./img/yagoo.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right 50% top 35%;
}

.quote-container {
  max-width: 50rem;
  margin-inline: auto;
  color: #1F2937;
  font-size: 36px;
}

.ceo {
  text-align: end;
}